template(name="box1")
    | Click to increment {{content}} ({{count}})

template(name="box2")
    | Click to decrement {{content}} ({{count}})

template(name="head")
    | Example of rendering a reactive template into the content of a famo.us DOMElement
